
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li>a {
    text-decoration: none;
    color: #44493F;
    padding: 10px;
    font-family: Tahoma;
    font-size: 30px;
}

body {
    background-image: url('/assets/img/fondo.png');
    /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* 100% del viewport height para cubrir toda la página */

}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: Arial, sans-serif;
}

.countdown-item {
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    color: #44493F;
    text-shadow: 4px 4px 4px #44493F;
    /* Sombra de texto */
}

.Falta {
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Info {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}


.Banner {
    background-color: #78856B;
}

h1,h2,p {
    font-family: 'Pacifico', cursive;
}

.Wp{
    position: fixed;
    right: 5px;
    bottom: 50px;
    z-index: 1;
    right: 50px;
}



.card{
    left: 300px;
    background-color: #78856B;
}

.crad1{
    left: 300px;
}

.btn{
    background-color: #44493F;
}

.Civil{
    left: 200px;

}

.card-title{
    display: flex;
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;
}

.card-title{
    display: flex;
    justify-content: center;
}

